.game {
    height: 100vh;
    background: #E5E5E5;
    display: grid;
    grid-template-columns: 1fr 375px;
    position: relative;
    overflow-x: hidden;
}
.game-question {
    display: flex;
    flex-direction: column;
    padding-left: 6%;
    justify-content: space-around;
}
.game-question__title {
    font-size: 32px;
    font-weight: 600;
}
.game-question__answers {
    text-align: center;
    position: relative;
    display: grid;
    grid-template-columns: 375px 375px;
    grid-template-rows: 72px 72px;
    column-gap: 45px;
    row-gap: 30px;
}
.game-question__answers .line {
    position: absolute;
    border-top: 1px solid #D0D0D8;
    border-bottom: none;
    top: 50%;
    margin-bottom: 0;
    margin-top: -0.5px;
    width: 100%;
    z-index: -1;
    width: 420px;
    left: 50%;
    margin-left: -213px;
}


.game-question__answer {
    position: relative;
    display: block;
    background: transparent;
    line-height: 72px;
    text-align: left;
    font-size: 20px;
    cursor: pointer;
    z-index: 3;
}
.game-question__answer--money {
    line-height: 40px;
    text-align: center;
    cursor: auto;
    z-index: 3;
}
.game-question__answer__text {
    z-index: 3;
    position: relative;
    padding-left: 15px;
}
.game-question__answer__text span {
    color: var(--orange-color);
    padding-right: 8px;
    font-weight: 600;
}

.game-question__answer:before,
.game-question__answer:after {
    position: absolute;
    content: '';
    width: 365px;
    left: 0px;
    top: -2px;
    height: 36px;
    box-sizing: content-box;
}
.game-question__answer--money:before,
.game-question__answer--money:after {
    position: absolute;
    content: '';
    width: 240px;
    left: 50%;
    margin-left: -120px;
    top: -2px;
    height: 20px;
    box-sizing: content-box;
}

.game-question__answer:before {
    transform: perspective(15px) rotateX(3deg);
}
.game-question__answer:after {
    top: 37px;
    transform: perspective(15px) rotateX(-3deg);
}
.game-question__answer--money:before {
    transform: perspective(15px) rotateX(6deg);
}
.game-question__answer--money:after {
    top: 20px;
    transform: perspective(15px) rotateX(-6deg);
}
.game-question__answer.game-question__answer--border:before,
.game-question__answer.game-question__answer--border:after {
    border: 1px solid #D0D0D8;
}

.game-question__answer.game-question__answer--border:before {
    border-bottom: none !important;
    background: #fff;
}

.game-question__answer.game-question__answer--border:after {
    border-top: none !important;
    background: #fff;
}



/* active */
.game-question__answer--border.active:before,
.game-question__answer--border.active:after {
    background: #FFF3EB;
    border: 1px solid var(--orange-color);
}
.game-question__answer--money.active:before, .game-question__answer.game-question__answer--money.active:hover:before,
.game-question__answer--money.active:after, .game-question__answer.game-question__answer--money.active:hover:after {
    background: #fff;
    border: 1px solid var(--orange-color);
}
.game-question__answer--money.active .line {
    border-top-color: var(--orange-color);
}
/* old */
.game-question__answer--money.old .game-money__amount {
    color: #D0D0D8;
}
/* wrong */
.game-question__answer--border.wrong:before,
.game-question__answer--border.wrong:after {
    animation: wrong 3s ease forwards;
}
.game-question__answer--border.wrong .line {
    border-top: 1px solid #EC6259;
}
/* correct */
.game-question__answer--border.correct:before,
.game-question__answer--border.correct:after {
    animation: correct 3s ease forwards;
}
.game-question__answer--border.correct .line {
    border-top: 1px solid #47D867;
}
/* hover */
.game-question__answer.game-question__answer--border:hover:before,
.game-question__answer.game-question__answer--border:hover:after {
    border: 1px solid var(--orange-color);
}
.game-question__answer.game-question__answer--border:hover .line {
    border-top: 1px solid var(--orange-color);
}
.game-question__answer.game-question__answer--money:hover:before,
.game-question__answer.game-question__answer--money:hover:after {
    border: 1px solid #D0D0D8;
}

.game-money {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    padding: 15px 0;
}
.game-money__list {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 8px;
}
.game-money__list .line {
    position: absolute;
    border-top: 1px solid #D0D0D8;
    top: 50%;
    margin-top: -0.5px;
    width: 100%;
    z-index: -1;
    border-bottom: none;
    margin-bottom: 0;
}
.game-money__amount {
    font-size: 20px;
    position: relative;
    z-index: 1;
}
.game-question__answer--money.active .game-money__amount {
    color: var(--orange-color);
}
.btn-open {
    display: none;
}
@media (max-width: 1280px) {
    .game-question {
        padding: 0 30px;
    }
    .game-question__answers {
        grid-template-columns: 290px 290px;
        grid-template-rows: 56px 56px;
        row-gap: 8px;
    }
    .game-money {
        justify-content: flex-start;
        min-height: 100%;
    }
    .game-question__answers .line {
        width: 335px;
        margin-left: -167.5px;
    }
    .game-question__answers .game-question__answer--border:before,
    .game-question__answers .game-question__answer--border:after {
        width: 290px;
        height: 28px;
    }
    .game-question__answers .game-question__answer--border:after {
        top: 28px;
    }
    .game-question__answers .game-question__answer__text {
        line-height: 56px;
    }
    .game-question__answers .game-question__answer--border:before {
        transform: perspective(15px) rotateX(5deg);
    }
    
    .game-question__answers .game-question__answer--border:after {
        transform: perspective(15px) rotateX(-5deg);
    }
}
@media (max-width: 1140px) {
    .game {
        grid-template-columns: 1fr;
    }
    .game-money {
        background-color: #F5F5F7;
        justify-content: flex-start;
        width: 320px;
        transition: right 0.3s;
        position: absolute;
        right: -320px;
        top: 0;
        z-index: 10;
        min-height: 100%;
    }
    .game-money.open {
        right: 0;
    }
    .btn-open, .btn-close {
        display: block;
        width: 24px;
        height: 24px;
        margin-right: 15px;
        margin-left: auto;
    }
    .btn-open {
        background: url('../../img/Menu.svg');
        margin-top: 15px;
        
    }
    .btn-close {
        background: url('../../img/Close.svg');
        margin-bottom: 25px;
    }
}
@media (max-width: 1024px) {
    .game-question__answers {
        grid-template-columns: 260px;
    }
    
    .game-question__answers .game-question__answer--border:before,
    .game-question__answers .game-question__answer--border:after {
        width: 260px;
        height: 28px;
    }
    .game-question__title {
        font-size: 18px;
    }
    .game-question__answer {
        font-size: 14px;
    }
    .game-money__amount {
        font-size: 14px;
    }
    .game-question__answer--money:before,
    .game-question__answer--money:after {
        height: 16px;
    }
    .game-question__answer--money:after {
        top: 16px;
    }
    .game-question__answer--money {
        line-height: 32px;
    }
}