* {
  box-sizing: border-box;
}

:root {
  --orange-color: #FF8B37;
}
html {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

body {
  margin: 0;
  font-family: 'Inter',
  sans-serif;
  color: #1C1C21;
  overflow-x: hidden;
  min-width: 320px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

button {
  outline: none;
  border: none;
  background: transparent;
  cursor: pointer;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.app {
  min-height: 100vh;
}

@keyframes correct {

  0%,
  22%,
  42% {
    background: #f2faf4;
  }

  20%,
  40%,
  60% {
    border: 1px solid #47D867;
    background: #87f79f;
  }

  62%,
  100% {
    background: #E6FAEA;
    border: 1px solid #47D867;
  }
}

@keyframes wrong {

  0%,
  22%,
  42% {
    background: #f8f3f3;
  }

  20%,
  40%,
  60% {
    background: #fdc6c2;
    border: 1px solid #EC6259;
  }

  62%,
  100% {
    background: #FDEEED;
    border: 1px solid #EC6259;
  }
}